<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <form action="http://127.0.0.1:3000/users/login">
        <label for="user">
            账号:<input type="text" id="user" name="user"><br/>
        </label>
        <label for="password">
            密码:<input type="password" id="password" name="password"><br/>
        </label>
        <label for="submit">
            <input type="submit" id="submit" value="登录">
        </label>
        <label for="regist">
            <a href="/users/regist"><input type="button" id="regist" value="注册"></a><br/>
        </label>
    </form>
</body>
</html>