<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理中心</title>
    <link rel="stylesheet" href="res/css/common.css">
    <link rel="stylesheet" href="res/plugin/bootstrap.min.css">
    <style>
        th{
            background-color: #e6e6e6;
        }
        li:hover{
            background-color: black;
            color: white;
        }
        .user, .changePwd, .goBackHome{
            float: right;
            text-decoration: none;
            margin-right: 20px;
            line-height: 60px;
        }
        .user{
            color: darkturquoise;
        }
        .changePwd{
            color:  #8B7B8B;
        }
        .body-left{
            width: 15%;
            height: 540px;
            float: left;
            border-right: 1px solid #ccc;
        }
        .body-right{
            height: 540px;
            width: 85%;
            float: left;
        }
        .body-left-top{
            height: 60px;
            width: 100%;
            background-color: #ccc;
        }
        .body-left-bottom{
            height: 480px;
            width: 100%;
        }
        .body-right-top{
            height: 60px;
            width: 100%;
            border-bottom: 1px solid #ccc;
        }
        .body-right-zz{
            float: right;
            display: inline-block;
            margin-right: 40px;
        }
        .body-right-bottom{
            height: 480px;
            width: 100%;
        }
        .userManage, .resourceManage, .departManage{
            height: 480px;
            width: 100%;
            overflow-y: scroll;
        }
        .addWinBtn{
            margin-left:40px;
        }
        .body-headline{
            display: block;
            font-size: 22px;
            padding-left: 13px;
            padding-top: 15px;
            color: #444444;
        }
        .manage-headline{
            margin-left: 30px;
            line-height: 60px;
            font-size: 20px;
            color: #31b0d5;
        }
        .keywords{
            color: #31b0d5;
            font-size: 14px;
        }
        #search {
            height: 40px;
            width: 400px;
            margin-right: 20px;
            margin-top: 10px;
        }
        .searchBtn, .addWinBtn, .saveBtn{
            display: inline-block;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            font: 14px/100% Arial, Helvetica, sans-serif;
            padding: .5em 2em .55em;
            margin-right: 20px;
            text-shadow: 0 1px 1px rgba(0,0,0,.3);
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            border-radius: .5em;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
            box-shadow: 0 1px 2px rgba(0,0,0,.2);
        }
        .addBtn{
            height: 30px;
            width: 100px;
            background-color: #333333;
            color: white;
        }
        .searchBtn:hover, .addBtn:hover, .saveBtn:hover {
            text-decoration: none;
        }
        .searchBtn:active, .addBtn:active, .saveBtn:hover {
            position: relative;
            top: 1px;
        }
    </style>
</head>
<body>
    <div>
        <div class="head" id="head">
            <span class="headline">资源分享系统</span>
            <a href="/" class="goBackHome">返回主页</a>
            <a href="javascript:;" class="changePwd">修改密码</a>
            <a href="javascript:;" class="user">{{welcome}}</a>
        </div>
        <div class="canvas">
            <canvas id="cas"></canvas>
        </div>
        <div class="body" id="body">
            <div class="body-left">
                <div class="body-left-top">
                    <span class="body-headline">管理中心</span>
                </div>
                <div class="body-left-bottom">
                    <ul class="manageMenu">
                        <li>部门管理</li>
                        <li>用户管理</li>
                        <li>资源管理</li>
                    </ul>
                </div>
            </div>
            <div class="body-right">
                <div class="body-right-top" v-show="rightHeadShow">
                    <span class="manage-headline">{{chosedManage}}</span>
                    <button class="addBtn" @click="addWinShow">{{addBtn}}</button>
                    <div class="body-right-zz">
                        <span class="keywords">关键字:{{keywords}}</span>
                        <label for="search">
                            <input type="text" id="search" placeholder="请输入" @keyup.13="search">
                        </label>
                        <button class="searchBtn" @click="search" >搜索</button>
                        <a href="javascript:;" class="cancel" @click="cancelSearch">取消</a>
                    </div>
                </div>
                <div class="body-right-bottom">
                    <div class="tab">
                        <div class="resourceManage" v-show="resourceShow">
                            <table class="table">
                                <tr>
                                    <th>资源名称</th>
                                    <th>资源类型</th>
                                    <th>资源大小</th>
                                    <th>资源路径</th>
                                    <th>所属部门</th>
                                    <th>所属人</th>
                                    <th>资源描述</th>
                                    <th>操作</th>
                                </tr>
                                <tr v-for="(resource,index) in resources" v-show="resource.isshow">
                                    <td>{{resource.resource_name}}</td>
                                    <td>{{resource.resource_type}}</td>
                                    <td>{{resource.resource_size}}</td>
                                    <td>{{resource.resource_path}}</td>
                                    <td>{{resource.department_name}}</td>
                                    <td>{{resource.resource_owner}}</td>
                                    <td>{{resource.resource_desc}}</td>
                                    <td><a href="javascript:;" @click="updateResourceWin(index)">修改</a>&nbsp;<a href="javascript:;" @click="deleteResource(index)">删除</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="userManage" v-show="userShow">
                            <table class="table">
                                <tr>
                                    <th>用户名称</th>
                                    <th>用户账号</th>
                                    <th>用户密码</th>
                                    <th>用户角色</th>
                                    <th>所属部门</th>
                                    <th>操作</th>
                                </tr>
                                <tr v-for="(user,index) in users" v-show="user.isshow">
                                    <td>{{user.user_name}}</td>
                                    <td>{{user.user_account}}</td>
                                    <td>{{user.user_password}}</td>
                                    <td>{{user.user_role}}</td>
                                    <td>{{user.department_name}}</td>
                                    <td><a href="javascript:;" @click="updateUserWin(index)">修改</a>&nbsp;<a href="javascript:;" @click="deleteUser(index)">删除</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="departManage" v-show="departShow">
                            <table class="table">
                                <tr>
                                    <th>部门ID</th>
                                    <th>部门名称</th>
                                    <th>上级部门</th>
                                    <th>操作</th>
                                </tr>
                                <tr v-for="(department,index) in departments" v-show="department.isshow">
                                    <td>{{department.department_id}}</td>
                                    <td>{{department.department_name}}</td>
                                    <td>{{department.department_highDepart}}</td>
                                    <td><a href="javascript:;" @click="updateDepartWin(index)">修改</a>&nbsp;<a href="javascript:;" @click="deleteDepart(index)">删除</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="addDepartment" style="display:none">
                    <div class="addBody">'
                        <label for="newDepartName">
                            部门名称: <input type="text" id="newDepartName">
                        </label>
                        <br/>
                        <label for="newHighDepart">
                            上级部门:
                            <select id="newHighDepart">
                                <option value="无">无</option>
                                <option v-for="department in departments" :value="department.department_name">{{department.department_name}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="addFoot">
                        <button class="addWinBtn" onclick="addDepart();">确定</button>
                    </div>
                </div>
                <div class="addUser" style="display:none">
                    <div class="addBody">
                        <label for="newUserName">
                            用户名称: <input type="text" id="newUserName">
                        </label>
                        <label for="newUserAccount">
                            用户账号: <input type="text" id="newUserAccount">
                        </label>
                        <label for="newUserPassword">
                            用户密码: <input type="text" id="newUserPassword">
                        </label>
                        <label for="newUserRole">
                            用户角色: <input type="text" id="newUserRole">
                        </label>
                        <br/>
                        <label for="newUserDepartment">
                            所在部门:
                            <select id="newUserDepartment">
                                <option v-for="department in departments" :value="department.department_name">{{department.department_name}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="addFoot">
                        <button class="addWinBtn" onclick="addUser();">确定</button>
                    </div>
                </div>
                <div class="addResource" style="display: none">
                    <div class="add-body">
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <label for="newResourceDesc">
                                资源描述: <input type="text" id="newResourceDesc" name="newResourceDesc">
                            </label>
                            <label for="newResourceOwner">
                                资源所属人: <input type="text" id="newResourceOwner" name="newResourceOwner">
                            </label>
                            <br/>
                            <label for="newResourceDepart">
                                资源所属部门:
                                <select id="newResourceDepart" name="newResourceDepart">
                                    <option v-for="department in departments" :value="department.department_name">{{department.department_name}}</option>
                                </select>
                            </label>
                            <label for="newResource">
                                <input type="file" id="newResource" name="newResource">
                            </label>
                        </form>
                    </div>
                    <div class="add-foot">
                        <button class="addWinBtn"  onclick="addResource();">确定</button>
                    </div>
                </div>
                <div class="updateDepart" style="display:none">
                    <div class="updateBody">
                        <label for="modifiedDName">
                            部门名称: <input type="text" id="modifiedDName">
                        </label>
                        <br/>
                        <label for="modifiedDHighDepart">
                            上级部门:
                            <select id="modifiedDHighDepart">
                                <option value="无" selected>无</option>
                                <option v-for="department in listDepart" :value="department.department_name">{{department.department_name}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="updateFoot">
                        <button onclick="updateDepartment();" class="saveBtn">保存</button>
                    </div>
                </div>
                <div class="updateUser" style="display:none">
                    <div class="updateBody">
                        <label for="modifiedUName">
                            用户名称: <input type="text" id="modifiedUName">
                        </label>
                        <label for="modifiedUAccount">
                            用户帐号: <input type="text" id="modifiedUAccount">
                        </label>
                        <label for="modifiedUPassword">
                            用户密码: <input type="text" id="modifiedUPassword">
                        </label>
                        <label for="modifiedURole">
                            用户角色: <input type="text" id="modifiedURole">
                        </label>
                        <label for="modifiedUDepart">
                            用户部门:
                            <select id="modifiedUDepart">
                                <option v-for="department in departments" :value="department.department_name">{{department.department_name}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="updateFoot">
                        <button onclick="updateUser();" class="saveBtn">保存</button>
                    </div>
                </div>
                <div class="updateResource" style="display: none">
                    <div class="updateBody">
                        <label for="modifiedRName">
                            资源名称: <input type="text" id="modifiedRName">
                        </label>
                        <label for="modifiedRDesc">
                            资源描述: <input type="text" id="modifiedRDesc">
                        </label>
                        <label for="modifiedROwner">
                            所属人: <input type="text" id="modifiedROwner">
                        </label>
                    </div>
                    <div class="updateFoot">
                        <button onclick="updateResource();" class="saveBtn">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <a href="javascript:;" class="bottom">copyright@hzlh</a><br/>
            <a href="javascript:;" class="bottom">联系我们</a><br/>
            <a href="javascript:;" class="bottom">QQ:XXXXXXXXX</a>
            <a href="javascript:;" class="bottom">邮箱:XXXXXXXXXX</a>
        </div>
        <div class="uploading" style="display: none;">
            正在上传
        </div>
    </div>
    <script src="res/plugin/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="res/plugin/jquery.form.js" type="text/javascript"></script>
    <script src="res/plugin/layer.js" type="text/javascript"></script>
    <script src="res/plugin/vue.js"></script>
    <script>
        !function() {
            var canvas = document.getElementById('cas');
            var ctx = canvas.getContext('2d');
            var rgb = '0';      // 线条颜色值
            var extendDis = 5;   // 可超出的画布边界
            var lineDis = 100;    // 连线距离
            lineDis *= lineDis;
            canvas.width = window.innerWidth;
            canvas.height = 85;
            var RAF = (function() {
                return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function(callback) {
                    window.setTimeout(callback, 1000 / 60);
                };
            })();
            // 鼠标活动时，获取鼠标坐标
            var warea = {x: null, y: null};
            window.onmousemove = function(e) {
                e = e || window.event;
                warea.x = e.clientX - canvas.offsetLeft;
                warea.y = e.clientY - canvas.offsetTop;
            };
            window.onmouseout = function(e) {
                warea.x = null;
                warea.y = null;
            };
            // 添加粒子
            // x，y为粒子坐标，xa, ya为粒子xy轴加速度，max为连线的最大距离
            var dots = [];
            for (var i = 0; i < 150; i++) {
                var x = Math.random() * (canvas.width + 2 * extendDis) - extendDis;
                var y = Math.random() * (canvas.height + 2 * extendDis) - extendDis;
                var xa = (Math.random() * 2 - 1) / 1.5;
                var ya = (Math.random() * 2 - 1) / 1.5;
                dots.push({
                    x: x,
                    y: y,
                    xa: xa,
                    ya: ya
                })
            }
            // 延迟100秒开始执行动画，如果立即执行有时位置计算会出错
            setTimeout(function() {
                animate();
            }, 100);
            // 每一帧循环的逻辑
            function animate() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                bubDrawLine([warea].concat(dots));
                RAF(animate);
            }
            /**
             * 逐个对比连线
             * @param ndots
             */
            function bubDrawLine(ndots) {
                var ndot;
                dots.forEach(function(dot) {
                    move(dot);
                    // 循环比对粒子间的距离
                    for (var i = 0; i < ndots.length; i++) {
                        ndot = ndots[i];
                        if (dot === ndot || ndot.x === null || ndot.y === null) continue;
                        var xc = dot.x - ndot.x;
                        var yc = dot.y - ndot.y;
                        // 如果x轴距离或y轴距离大于max,则不计算粒子距离
                        if (xc > ndot.max || yc > lineDis) continue;
                        // 两个粒子之间的距离
                        var dis = xc * xc + yc * yc;
                        // 如果粒子距离超过max,则不做处理
                        if (dis > lineDis) continue;
                        // 距离比
                        var ratio;
                        // 如果是鼠标，则让粒子向鼠标的位置移动
                        if (ndot === warea && dis < 20000) {
                            dot.x -= xc * 0.01;
                            dot.y -= yc * 0.01;
                        }
                        // 计算距离比
                        ratio = (lineDis - dis) / lineDis;
                        // 粒子间连线
                        ctx.beginPath();
                        ctx.lineWidth = ratio / 2;
                        ctx.strokeStyle = 'rgba(' + rgb + ', ' + rgb + ', ' + rgb + ', 1';
                        ctx.moveTo(dot.x, dot.y);
                        ctx.lineTo(ndot.x, ndot.y);
                        ctx.stroke();
                    }
                    // 将已经计算过的粒子从数组中删除
                    ndots.splice(ndots.indexOf(dot), 1);
                });
            }
            /**
             * 粒子移动
             * @param dot
             */
            function move(dot) {
                dot.x += dot.xa;
                dot.y += dot.ya;
                // 遇到边界将加速度反向
                dot.xa *= (dot.x > (canvas.width + extendDis) || dot.x < -extendDis) ? -1 : 1;
                dot.ya *= (dot.y > (canvas.height + extendDis) || dot.y < -extendDis) ? -1 : 1;
                // 绘制点
                ctx.fillStyle = 'rgba(' + rgb + ', ' + rgb + ', ' + rgb + ', 1';
                ctx.fillRect(dot.x - 0.5, dot.y - 0.5, 1, 1);
            }
        }();
        var head = new Vue({
            el: '#head',
            data: {
                welcome: 'hh'
            },
            methods:{

            },
            mounted: function(){
                $.ajax({
                   type: "GET",
                   url: "/manageSession",
                   dataType: "json",
                   async: true,
                   error: function(obj,err){
                       console.log("请求失败:"+err);
                   },
                   success: function(data){
                       if(!data.hasOwnProperty("account")){
                           head.welcome = "请先登录";
                       }else{
                           head.welcome = "欢迎"+data.account;
                       }
                   }
                });
            }
        });
        var body = new Vue({
           el: '#body',
           data: {
               updateTempId: 0,
               addResourceWin: false,
               addBtn: '',
               keywords: '',
               rightHeadShow: false,
               chosedManage: '',
               departShow: false,
               resourceShow: false,
               userShow: false,
               resources: [],
               departments: [],
               departs: [],
               listDepart: [],
               users: []
           },
           methods: {
               //搜索
               search: function(){
                   var searchContent = $("#search").val();
                   if(body.chosedManage=="部门管理"){
                        for(d of body.departments){
                            if(d.department_name.indexOf(searchContent)==-1){
                                d.isshow = false;
                            }else{
                                d.isshow = true;
                            }
                        }
                   }else if(body.chosedManage=="用户管理"){
                        for(u of body.users){
                            if(u.user_name.indexOf(searchContent)==-1){
                                u.isshow = false;
                            }else{
                                u.isshow = true;
                            }
                        }
                   }else if(body.chosedManage=="资源管理"){
                       for(r of body.resources){
                           if(r.resource_name.indexOf(searchContent)==-1){
                               r.isshow = false;
                           }else{
                               r.isshow = true;
                           }
                       }
                       for(r of body.resources){
                           if(r.department_name.indexOf(searchContent)!=-1){
                               r.isshow = true;
                           }
                       }
                   }
               },
               //取消搜索
               cancelSearch: function(){
                   for(r of body.resources){
                       r.isshow = true;
                   }
                   for(u of body.users){
                       u.isshow = true;
                   }
                   for(d of body.departments){
                       d.isshow = true;
                   }
                   $("#search").val("");
               },
               //显示添加窗口
               addWinShow: function(){
                   if(body.chosedManage=="部门管理"){
                       layer.open({
                           type: '1',
                           title: '添加部门',
                           skin: 'layui-layer-rim',
                           area: ['420px', '240px'],
                           content: $('.addDepartment')
                       });
                       $('.addDepartment input').val('');
                   }else if(body.chosedManage=="用户管理"){
                       layer.open({
                           type: '1',
                           title: '添加用户',
                           skin: 'layui-layer-rim',
                           area: ['420px', '240px'],
                           content: $('.addUser')
                       });
                       $('.addUser input').val('');
                   }else if(body.chosedManage=="资源管理"){
                       layer.open({
                           type: '1',
                           title: '添加资源',
                           skin: 'layui-layer-rim',
                           area: ['420px', '240px'],
                           content: $('.addResource')
                       });
                       $('.addResource input').val('');
                   }
               },
               //显示修改部门窗口
               updateDepartWin: function(index){
                    layer.open({
                        type: '1',
                        title: '修改部门',
                        skin: 'layui-layer-rim',
                        area: ['420px', '240px'],
                        content: $(".updateDepart"),
                        end:function () {
                            getData();
                        }
                    });
                    let name = body.departments[index].department_name;
                    let highDepart = body.departments[index].department_highDepart;
                    for(let i=0;i<body.listDepart.length;i++){
                        if(body.listDepart[i].department_name==name){
                            body.listDepart.splice(i,1);
                        }
                    }
                    $("#modifiedDName").val(name);
                    $("#modifiedDHighDepart").val(highDepart).attr("selected","selected");
                    body.updateTempId = body.departments[index].department_id;
               },
               //显示修改资源窗口
               updateResourceWin: function(index){
                   layer.open({
                       type: 1,
                       title: '修改资源',
                       skin: 'layui-layer-rim', //加上边框
                       area: ['420px', '240px'], //宽高
                       content: $(".updateResource")
                   });
                   $("#modifiedRName").val(body.resources[index].resource_name);
                   $("#modifiedROwner").val(body.resources[index].resource_owner);
                   $("#modifiedRDesc").val(body.resources[index].resource_desc);
                   body.updateTempId = body.resources[index].resource_id;
               },
               //显示修改用户窗口
               updateUserWin: function(index){
                    layer.open({
                        type: '1' ,
                        title: '修改用户',
                        skin: 'layui-layer-rim', //加上边框
                        area: ['560px', '320px'], //宽高
                        content: $(".updateUser")
                    });
                    console.log(body.users);
                    $("#modifiedUName").val(body.users[index].user_name);
                    $("#modifiedURole").val(body.users[index].user_role);
                    $("#modifiedUAccount").val(body.users[index].user_account);
                    $("#modifiedUPassword").val(body.users[index].user_password);
                    $("#modifiedUDepart").val(body.users[index].department_name).attr("selected","selected");
                    console.log("hgh")
                    body.updateTempId = body.users[index].user_id;
               },
               //删除用户
               deleteUser: function(index){
                   layer.msg('确定要删除吗？',{
                        time: 0,
                        btn: ['确定','取消'],
                        yes: function(){
                            $.ajax({
                                type: 'POST',
                                url: '/deleteUser',
                                contentType: 'application/json ',
                                data: body.users[index].user_id.toString(),
                                async: true,
                                error: function(obj,err){
                                    console.log('请求失败:'+err);
                                },
                                success: function(data){
                                    body.users[index].isshow = false;
                                    layer.msg('删除成功',{
                                        time: 2000
                                    });
                                }
                            })
                        }
                   });

               },
               //删除资源
               deleteResource: function(index){
                   layer.msg('确定要删除吗',{
                      time: 0,
                      btn: ['确定','取消'],
                      yes: function(){
                          let jsonObj = {
                              "id" : body.resources[index].resource_id,
                              "path" : body.resources[index].resource_path,
                              "name" : body.resources[index].resource_name,
                              "type" : body.resources[index].resource_type
                          };
                          let jsonStr = JSON.stringify(jsonObj);
                          $.ajax({
                              type: 'POST',
                              url: '/deleteResource',
                              contentType: 'application/json',
                              data: jsonStr,
                              dataType: 'text',
                              async: true,
                              error: function(obj,err){
                                  console.log('请求失败:'+err);
                              },
                              success: function(data){
                                  if(data==="删除成功"||data==="文件不存在"){
                                      body.resources[index].isshow = false;
                                  }
                                  layer.msg(data,{
                                      time: 2000
                                  });
                                  getData();
                              }
                          });
                      }
                   });

               },
               //删除部门
               deleteDepart: function(index){
                   let jsonObj = {
                       "id" : body.departments[index].department_id,
                       "name" : body.departments[index].department_name,
                       "parentId" : body.departments[index].department_parentid,
                       "highDepart" : body.departments[index].department_highDepart
                   };
                   let jsonStr = JSON.stringify(jsonObj);
                   $.ajax({
                       type: 'POST',
                       url: '/deleteDepartConfirm',
                       contentType: 'application/json',
                       data: jsonStr,
                       dataType: 'text',
                       async: true,
                       error: function (obj,err) {
                           console.log('请求失败:'+err);
                       },
                       success: function(data){
                           layer.msg(data,{
                               time: 0,
                               btn: ['确定','取消'],
                               yes: function(){
                                    $.ajax({
                                        type: 'POST',
                                        url: '/deleteDepart',
                                        contentType: 'application/json',
                                        data: jsonStr,
                                        async: true,
                                        error: function(obj,err){
                                            console.log('请求失败:'+err);
                                        },
                                        success: function(data){
                                            body.departments[index].isshow=false;
                                            layer.msg(data,{
                                               time: 2000
                                            });
                                        }
                                    });
                               }
                           })
                       }
                   });

               }
           },
           mounted: function(){
               getData();
               this.rightHeadShow = true;
               this.chosedManage = "部门管理";
               this.keywords = "部门名称";
               this.addBtn = "添加部门";
               this.departShow = true;
           }
        });
        //左侧菜单节点
        $("li").click(function(){
            body.rightHeadShow = true;
            var chooseManage = $(this).text();
            getData();
            body.chosedManage = chooseManage;
            if(chooseManage=="部门管理"){
                $("#search").val("");
                body.keywords = "部门名称";
                body.addBtn = "添加部门";
                body.departShow = true;
                body.resourceShow = false;
                body.userShow = false;
            }else if(chooseManage=="用户管理"){
                $("#search").val("");
                body.keywords = "用户名称";
                body.addBtn = "添加用户";
                body.departShow = false;
                body.resourceShow = false;
                body.userShow = true;
            }else if(chooseManage=="资源管理"){
                $("#search").val("");
                body.keywords = "资源名称 资源分组";
                body.addBtn = "上传资源";
                body.departShow = false;
                body.resourceShow = true;
                body.userShow = false;
            }
        })
        //增加部门
        function addDepart(){
            if(newDepartName!==""){
                let jsonObj = {
                    "name" : $("#newDepartName").val(),
                    "highDepart" : $("#newHighDepart").val()
                };
                let jsonStr = JSON.stringify(jsonObj);
                $.ajax({
                    type: 'POST',
                    url: 'addDepart',
                    contentType: 'application/json',
                    data: jsonStr,
                    dataType: 'text',
                    async: true,
                    error: function(obj,err){
                        console.log('请求失败:'+err);
                    },
                    success: function(data){
                        layer.closeAll();
                        layer.msg(data,{
                           time: 2000
                        });
                        getData();
                    }
                });
            }else{
                layer.msg("部门名称不能为空!",{
                    time: 2000
                });
            }
        }
        //增加用户
        function addUser(){
            let reg = /^[0-9a-zA-Z]+$/;
            if($("#newUserName").val()!==""){
                if($("#newUserAccount").val()!==""){
                    if(reg.test($("#newUserPassword").val())){
                        let newUserRole = $("#newUserRole").val();
                        if(newUserRole!=="employee" && newUserRole!==""){
                            layer.msg('该角色不存在,请重新输入',{
                                time: 2000
                            });
                            $("#newUserRole").val("");
                        }else{
                            if(newUserRole==""){
                                newUserRole = "employee";
                            }
                            var jsonObj = {
                                "name" : $("#newUserName").val(),
                                "account" : $("#newUserAccount").val(),
                                "password" : $("#newUserPassword").val(),
                                "role" : newUserRole,
                                "department" : $("#newUserDepartment").val()
                            };
                            let jsonStr = JSON.stringify(jsonObj);
                            $.ajax({
                                type: 'POST',
                                url: '/addUser',
                                contentType: "application/json",
                                data: jsonStr,
                                dataType: 'text',
                                async: true,
                                error: function (obj,err) {
                                    console.log("请求失败:"+err);
                                },
                                success: function(data){
                                    console.log("请求成功:"+data);
                                    if(data=="用户名称已存在,请重新输入"){
                                        $("#newUserName").val("");
                                    }else if(data=="用户账号已存在,请重新输入"){
                                        $("#newUserAccount").val("");
                                    }else{
                                        layer.closeAll();
                                        getData();
                                    }
                                    layer.msg(data,{
                                       time: 2000
                                    });
                                }
                            });
                        }
                    }else{
                        $("#newUserPassword").val("");
                        layer.msg("密码中有非法字符或为空,请重新输入",{
                            time: 2000
                        });
                    }
                }else{
                    layer.msg("用户账号不能为空,请重新输入",{
                        time: 2000
                    });
                }
            }else{
                layer.msg("用户名称不能为空,请重新输入",{
                    time: 2000
                });
            }
        }
        //添加资源
        function addResource(){
            $('form').ajaxSubmit({
                type: 'POST',
                url: '/upload',
                dataType: 'text',
                success: function(data){
                    // layer.open({
                    //     type: '1',
                    //     title: '正在上传资源',
                    //     skin: 'layui-layer-rim',
                    //     area: ['420px', '240px'],
                    //     content: $('.uploading')
                    // });
                    if(data==="找不到文件!"){
                        layer.msg(data,{
                            time: 2000
                        })
                    }else{
                        layer.msg(data,{
                            time: 2000
                        });
                        layer.closeAll();
                        getData();
                    }
                }
            });
        }
        //修改资源信息
        function updateResource(){

            if(($("#modifiedRName").val()!=="")&&($("#modifiedROwner").val()!=="")&&($("#modifiedRDesc").val()!=="")){
                let jsonObj = {
                    "id" : body.updateTempId,
                    "name" : $("#modifiedRName").val(),
                    "owner" : $("#modifiedROwner").val(),
                    "desc" : $("#modifiedRDesc").val()
                };
                let jsonStr = JSON.stringify(jsonObj);
                $.ajax({
                    type: 'POST',
                    url: '/updateResource',
                    contentType: 'application/json',
                    data: jsonStr,
                    dataType: 'text',
                    error: function(obj,err){
                        console.log('请求失败:'+err);
                    },
                    success: function(data){
                        layer.closeAll();
                        layer.msg(data,{
                           time: 2000
                        });
                        getData();
                    }
                });
            }else{
                layer.msg('信息不能为空,请重新输入',{
                    time: 2000
                });
            }
        }
        //修改用户信息
        function updateUser(){
            let jsonObj = {
                "id" : body.updateTempId,
                "name" : $("#modifiedUName").val(),
                "account" : $("#modifiedUAccount").val(),
                "password" : $("#modifiedUPassword").val(),
                "department" : $("#modifiedUDepart").val(),
                "role" : $("#modifiedURole").val()
            };
            console.log(jsonObj);
            let jsonStr = JSON.stringify(jsonObj);
            $.ajax({
                type: 'POST',
                url: '/updateUser',
                contentType: 'application/json',
                data: jsonStr,
                dataType: 'text',
                async: true,
                error: function(obj,err){
                    console.log('请求失败:'+err);
                },
                success: function (data) {
                    if(data=="修改成功"){
                        layer.closeAll();
                        layer.msg(data,{
                            time: 2000
                        });
                        getData();
                    }else{
                        layer.msg(data,{
                            time: 2000
                        });
                    }
                }
            });
        }
        //修改部门信息
        function updateDepartment(){
            let jsonObj = {
                "id" : body.updateTempId,
                "name" : $("#modifiedDName").val(),
                "highDepart" : $("#modifiedDHighDepart option:selected").text()
            }
            let jsonStr = JSON.stringify(jsonObj);
            $.ajax({
                type: 'POST',
                url: '/updateDepartment',
                contentType: 'application/json',
                data: jsonStr,
                dataType: 'text',
                async: true,
                error: function(obj,err){
                    console.log('请求失败:'+err);
                },
                success: function(data){
                    if(data=="修改成功!"){
                        layer.closeAll();
                        layer.msg(data,{
                            time: 2000
                        });
                        getData();
                    }else{
                        layer.msg(data,{
                           time: 2000
                        });
                    }

                }
            });
        }
        //获取用户，资源或者部门数据并刷新
        function getData(){
            $.ajax({
                type: 'GET',
                url: '/getData',
                dataType: 'json',
                async: true,
                error: function(obj,err){
                    console.log('请求失败:'+err);
                },
                success: function(data){
                    for(let i=0;i<3;i++){
                        for(d of data[i]){
                            d.isshow = true;
                        }
                    }
                    body.resources = data[0];
                    body.users = data[1];
                    body.departments = data[2];
                    body.listDepart = data[2].slice(0);
                }
            });
        }
    </script>
</body>
</html>