<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>添加学生</h1>
    <form action="/add" method="post">
      <label for="studentName">
        学生姓名:<input type="text" id="studentName" name="studentName">
        <br/>
      </label>
      <label for="studentId">
        学生ID:<input type="text" id="studentId" name="studentId">
        <br/>
      </label>
      <label for="add">
        <input type="button" id="add" value="提交">
      </label>
    </form>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#add").click(function(){
          let studentName = $("#studentName").val();
          let studentId = $("#studentId").val();
          let reg1 = /^[\u4e00-\u9fa5]{1,4}$/;
          let reg2 = /^\d{1,6}$/;
          if(reg1.test(studentName)){
            if(reg2.test(studentId)){
              $.ajax({
                  type: 'POST',
                  url: 'http://127.0.0.1:3000/add',
                  data: "studentName="+studentName+"&studentId="+studentId,
                  dataType:'html',
                  async:true,
                  error:function(obj,err){
                    console.log('请求失败');
                  },
                  success:function(data){
                    console.log('请求成功');
                    document.write(data);
                  } 
              });
            }else{
              alert("请输入1到6位的学生Id!");
            }
          }else{
            alert("请输入1到4个汉字!");
          }
        })
      })
    </script>
  </body>
</html>
