<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>查询学生</h1>
    <label for="searchContent">
        学生信息:<input type="text" id="searchContent" name="searchContent">
    </label>
    <input type="button" value="查询"><br/>
    <ul>
        <% for(let i=0;i<result.length;i++){ %>
        <li>姓名:<%= result[i].name %> 学号:<%= result[i].studentId %></li>
        <% } %>
    </ul>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script>

    </script>
  </body>
</html>